* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.top {
  background-image: url(images/home-header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white; /* change this*/
  height: 100vh;
}

.top-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.header {
  padding: 20px 10px;
}

.header .logo {
  padding: 0 15px;
  font-size: 1.2em;
}

.header .link {
  padding: 0 10px;
}

.tagline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tagline {
  display: inline-block;
  text-align: center;
  font-size: 2.5em;
  color: white; /* change this*/
}

.tagline-text {
  padding: 0;
  margin: 0;
}

.value-proposition {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100px;
  width: 90%;
  margin: auto;
}

.container-values {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
}

.value {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px 10px;
  width: 30%;
}

.value-icon {
  height: 100px;
  width: 100px;
}

.value-title {
  font-weight: bold;
}

.value-description {
}

.services {
  margin-top: -50px;
  width: 90%;
  margin: auto;
}

.services .title {
  text-align: center;
  font-size: 2.5rem;
}

.content-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-services {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto 20px;
  text-align: center;
}

.service {
  width: 30%;
  border-radius: 5px;
  transition: background-color linear 0.3s;
}

.service:hover {
  cursor: pointer;
  background-color: #49f1c6;
}

.service-client {
  font-weight: bold;
}

.service-point {
  margin: 5px auto;
  text-align: left;
}

.contact-button {
  border-radius: 30px;
  border: none;
  background-color: #49f1c6;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 20px auto;
  padding: 10px 50px;
  transition: background-color linear 0.3s;
}

.contact-button:hover {
  cursor: pointer;
  background-color: #00a887;
}

.team {
  background-color: lightgray;
  padding: 30px 0;
}

.team .title {
  text-align: center;
  font-size: 2.5rem;
}

.team-container {
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 60%;
  padding: 10px;
  margin: auto;
}

.team-member {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.team-member-photo {
  display: block;
  height: 200px;
  width: 200px;
  flex-grow: 1;
  border-radius: 50%;
}

.team-member-description {
  flex-grow: 4;
  display: block;
  margin-left: 20px;
}

.team-member-name {
  display: block;
  margin-top: 15px;
}

.join-prompt {
  width: 60%;
  margin: auto;
}

.join-prompt .title {
  text-align: center;
  font-size: 2.5rem;
}

.join-message {
  text-align: center;
}

.section {
  width: 60%;
  margin: auto;
}

.section .title {
  text-align: center;
  font-size: 2.5rem;
}

.advisory-board {
  display: flex;
  justify-content: center;
}

.board-member {
  text-align: center;
  width: 30%;
}

.board-member-name {
  font-weight: bold;
  margin: 0;
  display: block;
}

.statement {
  text-align: center;
}

.objective,
.value-point {
  width: 50%;
  margin: auto;
}

.section-partners {
  padding-bottom: 40px;
}

.partner {
  display: inline-block;
  margin: 10px;
}
